<?xml version="1.0" encoding="UTF-8"?>
<module version="2.0">
    <meta>
        <identity>
            <uri>org.netkernelroc:esi</uri>
            <version>1.0.0</version>
        </identity>
        <info>
            <name>esi_engine</name>
            <description>Describes the Endpoints for wiring in the ESI engine.</description>
        </info>
    </meta>
    <system>
        <dynamic/>
    </system>
    <rootspace name="esi_simple - Host to Origin to ESI Engine">
        <fileset>
            <regex>res:/etc/system/SimpleDynamicImportHook.xml</regex>
        </fileset>
        <overlay>
            <!-- ScratchPad allows for saving/retrieving the assign variables. -->
            <prototype>layer1.Endpoint.ScratchPad</prototype>
            <space>
                <mapper>
                    <config>
                        <endpoint>
                            <id>org.netkernelroc:esi:engine:incoming</id>
                            <name>Host Based Service</name>
                            <description>Groovy service for wiring up incoming HTTP requests</description>
                            <grammar>
                                <group>
                                    http://
                                    <group name="hostname">
                                        <regex type="alphanum"/>
                                    </group>
                                    :
                                    <group name="port">
                                        <regex type="integer"/>
                                    </group>
                                    <group name="path">
                                        <regex type="anything"/>
                                    </group>
                                </group>
                            </grammar>
                            <request>
                                <identifier>active:groovy</identifier>
                                <argument name="operator">res:/resources/endpoints/incoming.gy</argument>
                                <argument name="host">arg:hostname</argument>
                                <argument name="port">arg:port</argument>
                                <argument name="path">arg:path</argument>
                            </request>
                        </endpoint>
                    </config>
                    <space>
                        <fileset>
                            <regex>res:/resources/endpoints/.*</regex>
                        </fileset>
                        <import>
                            <uri>urn:org:netkernel:lang:groovy</uri>
                        </import>
                        <import>
                            <uri>org.netkernelroc:esi:omr</uri>
                        </import>
                        <import>
                            <uri>org.netkernelroc:esi:engine</uri>
                        </import>
                        <!--Import HTTP client-->
                        <import>
                            <uri>urn:org:netkernel:client:http</uri>
                        </import>
                    </space>
                </mapper>
            </space>
        </overlay>
        <!--This import is needed so that the scratch prototype can be resolved-->
        <import>
            <uri>urn:org:netkernel:ext:layer1</uri>
            <private/>
        </import>
    </rootspace>
    <!---->
    <rootspace name="omr" uri="org.netkernelroc:esi:omr">
        <endpoint>
            <grammar>
                <active>
                    <identifier>active:omr</identifier>
                    <argument name="host" min="1" max="1"/>
                </active>
            </grammar>
            <class>org.netkernelroc.esi.endpoints.OriginMapperResources</class>
        </endpoint>
    </rootspace>

    <rootspace name="engine" uri="org.netkernelroc:esi:engine">
        <endpoint>
            <grammar>
                <active>
                    <identifier>active:esi-engine</identifier>
                    <argument name="payload" min="1" max="1"/>
                    <argument name="host" min="1" max="1"/>
                    <argument name="port" min="1" max="1"/>
                    <argument name="path" min="1" max="1"/>
                </active>
            </grammar>
            <class>org.netkernelroc.esi.endpoints.RenderResource</class>
        </endpoint>
        <!--Import HTTP client-->
        <import>
            <uri>urn:org:netkernel:client:http</uri>
        </import>
    </rootspace>

    <rootspace name="esi_espression" uri="org.netkernelroc:esi:expression">
        <fileset>
            <regex>res:/grammar/.*</regex>
        </fileset>
        <endpoint>
            <grammar>
                <active>
                    <identifier>active:ESIExpressionRuntime</identifier>
                    <argument name="expression" min="1" max="1"/>
                </active>
            </grammar>
            <class>org.netkernelroc.esi.expression.ESIExpressionRuntime</class>
        </endpoint>
        <import>
            <uri>urn:org:netkernel:lang:antlr</uri>
        </import>
    </rootspace>
    <rootspace name="esi_expression - Unit Test Space" public="true" uri="urn:test:org.netkernelroc:esi:expression">
        <fileset>
            <regex>res:/etc/system/Tests.xml</regex>
        </fileset>
        <fileset>
            <regex>res:/resources/test/.*</regex>
        </fileset>
        <endpoint><!-- stop any configuration from module under test from polluting address space -->
            <prototype>Limiter</prototype>
            <grammar>res:/etc/
                <regex type="anything"/>
            </grammar>
        </endpoint>
        <import><!-- import the main space which we are testing -->
            <uri>org.netkernelroc:esi:expression</uri>
        </import>
        <import>
            <uri>urn:org:netkernel:ext:layer1</uri>
            <private/>
        </import>
    </rootspace>
</module>